* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(21, 21, 21);
  color: white;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
}

.navbar {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  /* background-color: transparent; */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid cyan;
  background-color: rgb(21, 21, 21);
}

/* Hamburger icon */
.hamburger {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  z-index: 1100;
}

/* 
.close_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
} */

.name {
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 1.8rem;

}


.nav_links li a {
  position: relative;
  text-decoration: none;
  color: white;
}

.nav_links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  /* background-color: black; */
  background-color: white;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.nav_links li a:hover::after {
  width: 100%;
}



.hero_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  padding: 2rem;
  line-height: 3.2rem;
  gap: 6rem;
}

.hero_text {
  font-size: 1.6rem;

  h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
}

.about_container img,
.hero_img img {
  width: 15rem;
  /*width: 200px;
    */
  height: auto;
  border-radius: 50%;
  /* padding: 2rem; */
  margin: 2rem;
  object-fit: cover;
  border: 4px solid;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.hero_img img {
  width: 20rem;
}

.about {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  text-align: center;
}

.about h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.about_container img {
  margin-bottom: -2.5rem;
}

.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100vh; */
  padding: 6.5rem;
  gap: 5.5rem;
}

.tab_nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab_button {
  background-color: transparent;
  color: white;
  /*border: none;
    */
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid #00ffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
}

.tab_button.active {
  background-color: #00ffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  color: #000;
}

.tab_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
}

.tab_content {
  max-width: 800px;
  /* margin: auto;
     */
  width: 100%;
  min-height: 220px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  /* Optional styling */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease;
  overflow: auto;
  font-size: 22px;
  line-height: 1.8rem;
  word-spacing: 0.2rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tab_pane {
  display: none;
  padding: 1rem;

  li {
    list-style-type: circle;
  }
}

.tab_pane.active {
  display: block;
}


.projects_section {
  min-height: 100vh;
  /* display: flex; */
  padding: 4rem;
  text-align: center;
}

.projects_section h2 {
  font-size: 3.5rem;
  margin-bottom: 4.5rem;
}



.project_container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.project_card {
  border-radius: 2rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  width: 20rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  padding: 1.2rem;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.3s ease;
  background-color: rgb(0, 0, 0);
}

.project_card:hover {
  /* transform: scale(2px); */
  scale: 1.1;
  transform: translateY(-2px);
  box-shadow: 0 8px 25px #00ffff;
  -webkit-transform: scale(2px);
  -moz-transform: scale(2px);
  -ms-transform: scale(2px);
  -o-transform: scale(2px);
}

.project_card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.project_card h3 {
  margin: 0.8rem 0;
  font-size: 1.5rem;

}

.project_card p {
  font-size: 0.95rem;
  padding: 0.6rem;
}

.project_links {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.project_links a {
  text-decoration: none;
  color: #fff;
  border: 2px solid;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 0.6rem;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
}

.project_links a:hover {
  background-color: #00ffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  color: #000;
}



.contact_section {
  text-align: center;
  padding: 2rem;
  padding-top: 10rem;
  min-height: 100vh;
}

.contact_section h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.contact_section p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 25rem;
  gap: 1rem;
  margin: 0 auto;
}

/* 
.form_container {
    max-width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.contact_form input,
.contact_form textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  /* border: none; */
  /* width: 25rem; */
}

.contact_form button {
  width: 5rem;
  height: auto;
  padding: 1rem;
  background-color: transparent;
  color: white;
  border: 2px solid #00ffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
}

.contact_form button:hover {
  background-color: #00ffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  color: #000;
}

.social_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.icon_container_horizontal,
.icon_container_vertical {
  /* margin-top: 2rem; */
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* .icon_container_horizontal,
.social_icons a,
.icon_container_vertical {
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
} */

/* .icon_container_horizontal,
.icon_container_vertical,
.social_icons a:hover {
  transform: scale(1.2);
  color: #00ffff;
} */

.icon_container_horizontal {
  display: flex;
  flex-direction: column;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.icon_container_vertical a,
.icon_container_horizontal a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.social_icons h3 {
  font-size: 1.5rem;
}

.icon_container_vertical a i,
.icon_container_horizontal a i {
  transition: transform 0.3s, color 0.3s;
}

/* 🟢 Only the icon reacts on hover */
.icon_container_vertical a i:hover,
.icon_container_horizontal a:hover i {
  transform: scale(1.3);
  color: #00ffff;
}


/* Modal Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's on top of other content */
}

.popup-content {
  background-color: white;
  color: #000;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 80%;
}

button {
  padding: 1rem 2rem;
  background-color: transparent;
  color: black;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000;
  color: white;
}

.hamburger,
.close_button {
  display: none;
}

/* Mobile Devices (<= 768px) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .nav_links {
    flex-direction: column;
    gap: 1rem;
  }

  .hero_container,
  .about_container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
  }

  .hero_container .hero_text h1 {
    font-size: 3.5rem;
  }

  .hero_img img,
  .about_container img {
    width: 12rem;
  }

  .tab_container {
    padding: 1rem;
  }

  .tab_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .tab_content {
    font-size: 1rem;
  }

  .projects_section {
    padding: 2rem 1rem;
  }

  .project_card {
    width: 100%;
    max-width: 22rem;
  }

  .contact_section {
    padding: 2rem 1rem;
  }

  .contact_container {
    flex-direction: column;
    gap: 2rem;
  }

  .social_icons {
    gap: 1rem;
  }

  .icon_container_horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .contact_form {
    width: 100%;
    max-width: 22rem;
  }

  .nav_links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: rgb(21, 21, 21);
    border-left: 3px solid cyan;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 999;
    transition: right 0.4s ease-in-out;

  }

  .nav_links li a {
    color: white;
    font-size: 1.5rem;
  }

  .nav_links.show {
    right: 0;
  }


  .nav_links li a {
    position: relative;
    text-decoration: none;
    color: white;
  }

  .nav_links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    /* background-color: black; */
    background-color: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
  }

  .nav_links li a:hover::after {
    width: 100%;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 1025px) {
  .hamburger,
  .close-btn {
    display: none;
  }

  .nav_links {
    display: flex;
  }
}
